<html>
    <head>
        <title>CV de {{.firstName}} {{.lastName}}</title>
    </head>
    <body>
        <h1>CV de {{.firstName}} {{.lastName}}</h1>
        <img src="{{.photoSrc}}" />
        <p>{{.speciality}}</p>
        <h2>Profil synthétique</h2>
        <p>{{.resume}}</p>
        <h2>Compétences techniques</h2>
        <ul>
            {{range .techSkill}}
                <li>
                    {{range $key, $value := .}}
                        {{$key}} : <span>{{$value}}</span>
                    {{end}}
                </li>
            {{end}}
        </ul>
        <h2>Description des missions</h2>
        {{range .missions}}
            <h3>{{.organization}} <span>{{.startDate}} - {{.endDate}}</span></h3>
            <ul>
                <li>
                    Projet : <span>{{.description}}</span>
                </li>
                <li>
                    Mission : <span>{{.details}}</span>
                </li>
                <li>
                    Equipe : <span>{{.projectSize}}</span>
                </li>
                <li>
                    Technologies et outils : <span>{{.techEnv}}</span>
                </li>
            </ul>
        {{end}}
        <h2>Diplômes et formations</h2>
        <h3>Diplômes</h3>
        <ul>
            {{range .diploma}}
                <li>
                    {{range $key, $value := .}}
                        {{$key}} : <span>{{$value}}</span>
                    {{end}}
                </li>
            {{end}}
        </ul>
        <h3>Langues</h3>
        <ul>
            {{range .language}}
                <li>
                    {{range $key, $value := .}}
                        {{$key}} : <span>{{$value}}</span>
                    {{end}}
                </li>
            {{end}}
        </ul>
        <h3>Formations</h3>
        <ul>
            {{range .training}}
                <li>
                    {{.dates}} : <span>{{.title}}</span> <span>({{.duration}})</span>
                </li>
            {{end}}
        </ul>
    </body>
</html>
